.flight-timeline {
  width: 100%;

  padding: 28px 54px;

  border-radius: 14px;

  background: #f7f5f4;
}

.timeline-layout {
  min-height: 500px;

  display: grid;

  grid-template-columns:
    95px
    36px
    minmax(0, 1fr);

  gap: 18px;
}

/* ========================================
   TIMES
======================================== */

.timeline-times {
  min-height: 500px;

  position: relative;
}

.timeline-time {
  position: absolute;

  left: 0;

  display: flex;
  flex-direction: column;

  gap: 5px;
}

.departure-time {
  top: 0;
}

.arrival-time {
  bottom: 0;
}

.timeline-time strong {
  color: #222222;

  font-size: 14px;
  line-height: 1;
  font-weight: 600;
}

.timeline-time span {
  color: #999999;

  font-size: 9px;
}

.timeline-duration {
  position: absolute;

  top: 50%;
  left: 15px;

  transform: translateY(-50%);

  color: #999999;

  font-size: 9px;
}

/* ========================================
   TRACK
======================================== */

.timeline-track {
  min-height: 500px;

  position: relative;
}

.timeline-dot {
  position: absolute;

  left: 50%;

  width: 10px;
  height: 10px;

  transform: translateX(-50%);

  border-radius: 50%;

  background: #e4c66d;
}

.timeline-dot.top {
  top: 2px;
}

.timeline-dot.bottom {
  bottom: 2px;
}

.timeline-line {
  position: absolute;

  left: 50%;

  width: 1px;

  transform: translateX(-50%);

  border-left: 1px dashed #e4c66d;
}

.top-line {
  top: 14px;

  height: calc(50% - 32px);
}

.bottom-line {
  bottom: 14px;

  height: calc(50% - 32px);
}

.timeline-plane {
  position: absolute;

  top: 50%;
  left: 50%;

  transform:
    translate(-50%, -50%)
    rotate(90deg);

  color: #e4c66d;
}

.timeline-plane svg {
  width: 18px;
  height: 18px;
}

/* ========================================
   CONTENT
======================================== */

.timeline-content {
  min-width: 0;

  display: grid;

  grid-template-rows:
    auto
    1fr
    auto;

  gap: 24px;
}

.timeline-location h2 {
  margin: 0 0 7px;

  color: #222222;

  font-size: 14px;
  font-weight: 600;
}

.timeline-location p {
  margin: 0;

  color: #888888;

  font-size: 10px;
}

.timeline-location span {
  display: block;

  margin-top: 6px;

  color: #888888;

  font-size: 10px;
}

/* ========================================
   RESPONSIVE
======================================== */

@media (max-width: 800px) {
  .flight-timeline {
    padding: 24px;
  }

  .timeline-layout {
    grid-template-columns:
      72px
      28px
      minmax(0, 1fr);
  }
}

@media (max-width: 600px) {
  .flight-timeline {
    padding: 20px 16px;
  }

  .timeline-layout {
    grid-template-columns:
      26px
      minmax(0, 1fr);
  }

  .timeline-times {
    display: none;
  }
}