.badge{

padding:6px 14px;

border-radius:30px;

font-size:13px;

font-weight:600;

}

.success{

background:#EAF8EF;

color:#34C759;

}

.warning{

background:#FFF5E3;

color:#F4B400;

}

.danger{

background:#FFEAEA;

color:#FF5A5F;

}