/* ========================================
   BOOKINGS PAGE
======================================== */

.bookings-page {
  width: 100%;
  min-width: 0;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

/* ========================================
   DESKTOP
======================================== */

@media (min-width: 1600px) {
  .bookings-page {
    width: 100%;
  }
}

/* ========================================
   TABLET
======================================== */

@media (max-width: 900px) {
  .bookings-page {
    width: 100%;
  }
}

/* ========================================
   MOBILE
======================================== */

@media (max-width: 650px) {
  .bookings-page {
    width: 100%;
  }
}