.customer-growth-card {
  background: #1f1f1f !important;

  color: #ffffff;

  text-align: center;
}

.customer-growth-card h5 {
  color: #ffffff;

  margin-bottom: 10px;

  font-size: 15px;
  font-weight: 600;
}

.customer-growth-card p {
  margin-top: -8px;

  color: #cfcfcf;

  font-size: 12px;
}