.booking-filters{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:18px;

}

.filters-left{

display:flex;

gap:10px;

}

.filter-btn{

height:40px;

padding:0 16px;

border:none;

border-radius:10px;

background:white;

display:flex;

align-items:center;

gap:8px;

font-size:14px;

font-weight:500;

cursor:pointer;

box-shadow:0 2px 8px rgba(0,0,0,.03);

transition:.25s;

}

.filter-btn svg{

font-size:15px;

}

.filter-btn.active{

background:#e5c768;

}

.filters-right{

display:flex;

align-items:center;

gap:10px;

}

.circle-btn{

width:40px;

height:40px;

border:none;

background:white;

border-radius:10px;

display:flex;

justify-content:center;

align-items:center;

cursor:pointer;

box-shadow:0 2px 8px rgba(0,0,0,.03);

transition:.25s;

}

.circle-btn:hover{

transform:translateY(-2px);

}

.circle-btn svg{

font-size:18px;

}

.add-booking-btn{

height:40px;

padding:0 18px;

border:none;

border-radius:10px;

background:#e5c768;

display:flex;

align-items:center;

gap:8px;

font-size:14px;

font-weight:600;

cursor:pointer;

transition:.25s;

}

.add-booking-btn:hover{

transform:translateY(-2px);

}   