.payment-header{

display:grid;

grid-template-columns:1fr auto;

align-items:center;

column-gap:90px;

margin-bottom:38px;

}

/* LEFT */

.payment-title h1{

margin:0;

font-size:58px;

font-weight:700;

line-height:1.05;

color:#202020;

}

/* RIGHT */

.payment-header-actions{

display:flex;

align-items:center;

gap:18px;

}

/* SEARCH */

.header-search{

width:430px;

height:60px;

background:#FFFFFF;

border:1px solid #ECECEC;

border-radius:18px;

padding:0 22px;

display:flex;

align-items:center;

gap:14px;

}

.header-search svg{

font-size:20px;

color:#A0A0A0;

}

.header-search input{

flex:1;

border:none;

outline:none;

background:transparent;

font-size:15px;

font-weight:500;

color:#333;

}

.header-search input::placeholder{

color:#A4A4A4;

}

/* DATE */

.header-date{

width:205px;

height:60px;

border:1px solid #ECECEC;

background:#FFFFFF;

border-radius:18px;

display:flex;

justify-content:center;

align-items:center;

gap:10px;

cursor:pointer;

font-size:15px;

font-weight:600;

color:#2C2C2C;

}

.header-date svg:first-child{

color:#B7B7B7;

font-size:19px;

}

.header-date svg:last-child{

font-size:18px;

color:#999;

}

/* STATUS */

.header-status{

position:relative;

width:170px;

}

.header-status select{

width:100%;

height:60px;

padding:0 44px 0 20px;

border:1px solid #ECECEC;

border-radius:18px;

background:#FFFFFF;

appearance:none;

outline:none;

font-size:15px;

font-weight:500;

color:#2E2E2E;

cursor:pointer;

}

.header-status svg{

position:absolute;

right:18px;

top:50%;

transform:translateY(-50%);

pointer-events:none;

font-size:18px;

color:#999;

}

/* RESPONSIVE */

@media(max-width:1300px){

.payment-header{

grid-template-columns:1fr;

row-gap:30px;

}

.payment-header-actions{

flex-wrap:wrap;

}

}

@media(max-width:768px){

.header-search{

width:100%;

}

.header-date{

width:100%;

}

.header-status{

width:100%;

}

.payment-title h1{

font-size:42px;

}

}