@import "@/styles/abstracts/variables";

.main-layout {
  display: flex;

  min-height: 100vh;

  background: #f7f8fc;
}

/* Content Area */

.main-content{

flex:1;

margin-left:260px;

min-height:100vh;

padding:34px;

background:#F8F9FD;

overflow-x:hidden;

}
/* Mobile */

@media (max-width:992px){

.main-content{

margin-left:0;

padding:20px;

}

}