.auth-brand {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;

  gap: 10px;

  width: fit-content;
}

.auth-brand svg {
  font-size: 25px;

  color: #e4c66d;
}

.auth-brand span {
  color: #ffffff;

  font-size: 24px;
  font-weight: 700;
}