.dashboard-middle{
  display:grid;
  grid-template-columns:2fr 1fr;
  gap:24px;
}

.middle-right{
  display:flex;
  flex-direction:column;
  gap:24px;
}

@media(max-width:991px){

  .dashboard-middle{
    grid-template-columns:1fr;
  }

}